#components-layout-demo-fixed .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
    height: 85vh
  }
  .goRight {
    float: right;
  }
  .ant-dropdown-menu  {
    padding:  10px 20px;
  }
  .ant-dropdown-link {
    color: white;
    font-size: 40px;
  }