.createUser {
    margin-right: 8px;
  }

  .fontBig {
    font-size: 3em;
    vertical-align: middle;
    margin: 0px 10px;

  }

  .userCard {
    cursor: pointer;
    padding: 30px 0px;
  }
 .userCard span {
   margin-left: 1.3em;
   float: right;
 }
 #userCardBody .ant-card-body {
   max-height: 60vh;
   overflow-y: scroll;
 }

 .delteIcon {
  padding: 10px 14px;
  background: #ff4140;
  border-radius: 50px;
  float: right;
  cursor: pointer;
 }
 #deleteiconc {
   color: white;
 }